<!doctype html>

<html lang="en">
<head>
    <title>Yo</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>

    <script src="http://layout.jquery-dev.net/lib/js/jquery.layout-latest.min.js"></script>

    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://api.maps.nokia.com/2.2.3/jsl.js?with=all"></script>

    <script>
        var map = (function () {
            var map = {
                map: undefined,
                info_bubbles: undefined,

                initialize: function (div_id) {
                    // TODO: Set the authentication token, which is needed by the web-services to authenticate your application.
                    nokia.Settings.set("appId", "_peU-uCkp-j8ovkzFGNU");
                    nokia.Settings.set("authenticationToken", "gBoUkAMoxoqIWfxWA5DuMQ");

                    if (nokia.maps.map && nokia.maps.map.Display) {
                        this.map = new nokia.maps.map.Display($(div_id)[0], {
                            components: [
                                new nokia.maps.map.component.Behavior(),
                                new nokia.maps.map.component.DistanceMeasurement(),
                                new nokia.maps.map.component.TypeSelector(),
                                new nokia.maps.map.component.ZoomBar(),
                                this.info_bubbles = new nokia.maps.map.component.InfoBubbles()
                            ],
                            zoomLevel: 14
                        });

                        // Want all bubbles
                        this.info_bubbles.options.autoClose = false;
                    }
                },

                geo: function (latitude, longitude) {
                    return new nokia.maps.geo.Coordinate(latitude, longitude);
                },

                line: function (points, color, thickness, visible) {
                    var line = new nokia.maps.map.Polyline(
                        points,
                        {
                            visibility: visible,
                            pen: {
                                strokeColor: color,
                                lineWidth: thickness
                            }
                        }
                    );

                    this.map.objects.add(line);
                    return line;
                },

                line_from_to: function (from, to, color, thickness, visible) {
                    return this.line([from, to], color, thickness, visible);
                },

                circle: function (center, radius, fill_color, outline_color, visible) {
                    var circle = new nokia.maps.map.Circle(
                        center,
                        radius,
                        {
                            visibility: visible,
                            pen: {
                                strokeColor: outline_color,
                                lineWidth: 1
                            },
                            brush: {
                                color: fill_color
                            }
                        }
                    );

                    this.map.objects.add(circle);
                    return circle;
                },

                marker: function (center, text, color, visible) {
                    var marker = new nokia.maps.map.StandardMarker(
                        center,
                        {
                            visibility: visible,
                            shape: 'balloon',
                            text: text,
                            brush: {
                                color: color
                            }
                        }
                    );

                    this.map.objects.add(marker);
                    return marker;
                },

                bubble: function (coordinate, text) {
                    return this.info_bubbles.openBubble(text, coordinate, null, false);
                },

                remove: function (object) {
                    this.map.objects.remove(object);
                },
            };

            return map;
        })();

        var POLL_DELAY = 1000;
        var LINE_THICKNESS = 4;
        var VARIABLE_GROUPS = ["locals", "watches"];

        var variables = _.object(_.map(VARIABLE_GROUPS, function (i) { return [i, {}]; }));
        var current_color = 0;
        var colors = _.shuffle([
            "#000", "#004", "#008", "#00c",
            "#040", "#044", "#048", "#04c",
            "#080", "#084", "#088", "#08c",
            "#0c0", "#0c4", "#0c8", "#0cc",
            "#400", "#404", "#408", "#40c",
            "#440", "#444", "#448", "#44c",
            "#480", "#484", "#488", "#48c",
            "#4c0", "#4c4", "#4c8", "#4cc",
            "#800", "#804", "#808", "#80c",
            "#840", "#844", "#848", "#84c",
            "#880", "#884", "#888", "#88c",
            "#8c0", "#8c4", "#8c8", "#8cc",
            "#c00", "#c04", "#c08", "#c0c",
            "#c40", "#c44", "#c48", "#c4c",
            "#c80", "#c84", "#c88", "#c8c",
            "#cc0", "#cc4", "#cc8", "#ccc"
        ]);

        var variable_row_template = _.template(
            "<tr id='var_<%= id %>'>" +
                "<td id='name_<%= id %>' class='variable_name'><%= n %></td>" +
                "<td class='view_cell'><button id='view_<%= id %>'>View</button></td>" +
                "<td class='pin_cell'><button id='pin_<%= id %>'>Pin</button></td>" +
            "</tr>"
        );

        function get_label_coordinate(shape) {
            if (shape.coordinate) {
                return shape.coordinate;
            } else {
                return shape.path.get(0);
            }
        }

        function create_label(variable, text) {
            variable.label = map.bubble(get_label_coordinate(variable.shape), text);
        }

        function create_variable_shape(variable_info) {
            var points = variable_info.p;
            var shape = null;
            switch (points.length) {
            case 0:
                // Do nothing
                break;
            case 2:
                shape = map.marker(points, "", colors[current_color], true);
                break;
            default:
                shape = map.line(points, colors[current_color], LINE_THICKNESS, true);
                break;
            }

            if (shape) {
                current_color = (current_color + 1) % colors.length;
            }

            return shape;
        }

        function create_variable_object(variable_info) {
            var variable = {
                info: variable_info,
                shape: create_variable_shape(variable_info),
                label: null
            };

            if (variable.shape) {
                create_label(variable, variable_info.n);

                variable.shape.addListener("click", function (event) {
                    if (!variable.label || variable.label.getState() === "closed") {
                        create_label(variable, variable_info.n);
                    }
                });
            }

            return variable;
        }

        function destroy_variable_shape(variable) {
            if (variable.shape) {
                map.remove(variable.shape);
                variable.shape = null;
            }
        }

        function destroy_variable_object(variable) {
            destroy_variable_shape(variable);
            variable.label.close();
        }

        function update_variable_shape(variable, variable_info) {
            var points = variable_info.p;
            switch (points.length) {
            case 0:
                destroy_variable_shape(variable);
                break;
            case 2:
                if (variable.shape) {
                    if (variable.info.p.length == 2) {
                        variable.shape.set("coordinate", points);
                    } else {
                        destroy_variable_shape(variable);
                    }
                }

                if (!variable.shape) {
                    variable.shape = create_variable_shape(variable_info);
                }

                break;
            default:
                if (variable.shape) {
                    if (variable.info.p.length == 2) {
                        destroy_variable_shape(variable);
                    } else {
                        variable.shape.set("path", points);
                    }
                }

                if (!variable.shape) {
                    variable.shape = create_variable_shape(variable_info);
                }
            }

            if (variable.label && points.length >= 2) {
                variable.label.set("coordinate", points.slice(0, 2));
            }
        }

        function update_variable_object(variable, variable_info) {
            if (!_.isEqual(variable_info, variable.info)) {
                update_variable_shape(variable, variable_info);
                variable.info = variable_info;
            }
        }

        function add_variable(id, variable_info, group_name) {
            var variable = create_variable_object(variable_info);

            // Update UI
            $("#list_of_" + group_name).append(variable_row_template(variable_info));
            $("#name_" + id).click(function () { view_variable(id, group_name); });
            $("#view_" + id)
                .button({
                    icons: {primary: "ui-icon-zoomin"},
                    text: false
                })
                .click(function () { view_variable(id, group_name); });
            $("#pin_" + id)
                .button({
                    icons: {primary: "ui-icon-pin-s"},
                    text: false
                })
                .click(function () { pin_variable(id); });

            return variable;
        }

        function remove_variable(id, variable) {
            destroy_variable_object(variable);

            // Update UI
            $("#var_" + id).remove();
        }

        function update_variable(id, variable, variable_info) {
            // TODO: Check if variable acually changed
            update_variable_object(variable, variable_info);
            return variable;
        }

        function view_variable(id, group_name) {
            map.map.zoomTo(variables[group_name][id].shape.getBoundingBox());
        }

        function pin_variable(id) {
            // TODO: Pin variable
            console.log("Pin: " + id);
        }

        function update_variable_group(received_data, group_name) {
            var variable_group = variables[group_name];

            var existing_vars = _.keys(variable_group);
            var received_vars = _.keys(received_data);

            var added_vars = _.difference(received_vars, existing_vars);
            var removed_vars = _.difference(existing_vars, received_vars);
            var updated_vars = _.intersection(existing_vars, received_vars);

            var new_variables = {};

            // Extend variable info with its id
            _.each(received_data, function (variable_info, id) {
                variable_info.id = id;
            });

            _.each(removed_vars, function (i) {
                remove_variable(i, variable_group[i]);
            });

            _.each(updated_vars, function (i) {
                new_variables[i] = update_variable(i, variable_group[i], received_data[i]);
            });

            _.each(added_vars, function (i) {
                new_variables[i] = add_variable(i, received_data[i], group_name);
            });

            variables[group_name] = new_variables;
        }

        function update_variables(received_data) {
            if (!_.isEqual(_.keys(received_data).sort(), VARIABLE_GROUPS)) {
                console.error("Received data is invalid.");
                return;
            }

            _.each(received_data, function(group, name) {
                update_variable_group(group, name);
            });
        }

        function request_variables() {
            $.ajax({
                url: "/lv",
                dataType: "json",
                success: function (data) {
                    update_variables(data);
                    if (is_polling_enabled()) {
                        setTimeout(request_variables, POLL_DELAY);
                    }
                },
                error: function (data) {
                    disable_polling();
                }
            });
        }

        function is_polling_enabled() {
            return $("#autoupdate").prop("checked");
        }

        function enable_polling() {
            $("#autoupdate")
                .prop("checked", true)
                .button("refresh");
            $("#reload").button({"disabled": true});

            request_variables();
        }

        function disable_polling() {
            $("#autoupdate")
                .prop("checked", false)
                .button("refresh");
            $("#reload").button({"disabled": false});
        }

        function show_all() {
            var non_empty_groups = _.reject(variables, _.isEmpty);
            if (_.isEmpty(non_empty_groups)) {
                return;
            }

            map.map.zoomTo(
                nokia.maps.geo.BoundingBox.merge(
                    _.map(non_empty_groups, function (i) {
                        return nokia.maps.geo.BoundingBox.merge(_.map(i, function (i) {
                            return i.shape.getBoundingBox();
                        }));
                    })
                )
            );
        }

        $(function () {
            $('body').layout({west__applyDefaultStyles: true, west__size: "20%"});

            $("#reload")
                .button()
                .click(request_variables);

            $("#autoupdate")
                .button({
                    icons: {primary: "ui-icon-refresh"},
                    text: false
                })
                .click(function () {
                    if ($(this).prop("checked")) {
                        enable_polling();
                    } else {
                        disable_polling();
                    }
                });

            $("#show_all")
                .button({
                    icons: {primary: "ui-icon-home"},
                    text: false
                })
                .click(function () {
                    show_all();
                });

            map.initialize('#map');

            map.map.zoomTo(nokia.maps.geo.BoundingBox.coverAll([
                map.geo(52.5133, 13.4027),
                map.geo(52.52799999999999, 13.428)
            ]));

            enable_polling();
        });
    </script>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        .list_header {
            background-color: #eee;
            margin: 0;
            padding: 0.2em;
        }

        #list_of_locals, #list_of_watches {
            width: 100%;
        }

        .variable_name {
            padding: 0.4em;
        }

        .variable_name:hover {
            background-color: #ddd;
        }

        .view_cell, .pin_cell {
            display: none;
        }
    </style>
</head>
<body>
    <div id="map" class="ui-layout-center"></div>
    <div class="ui-layout-west">
        <div id="controls">
            <button id="reload">Reload</button>
            <input id="autoupdate" type="checkbox" /><label for="autoupdate">Auto update</label>
            <button id="show_all">Show All</button>
        </div>

        <div id="variables">
            <p class="list_header">Watches</p>
            <table id="list_of_watches"></table>

            <p class="list_header">Locals</p>
            <table id="list_of_locals"></table>
        </div>
    </div>
</body>
</html>
